/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mensagem-erro {
  div {
    color: white;
    background-color: red !important;
    button{
      color: white !important;
    }
  }
}

.mensagem-sucesso {
  div {
    color: white;
    background-color: darkslateblue !important;
    button{
      color: white !important;
    }
  }
}

app-root {
  min-height: 100vh;
  position: relative;
}


