<mat-card>
  <mat-card-header>
    <mat-card-title>Cadastro</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
      <mat-label>Nome</mat-label>
      <input matInput [formControl]="form.controls.usuario" type="text" placeholder="Nome" />
      <mat-error *ngIf="form.controls.usuario.hasError('required')">
        Campo obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
      <mat-label>Senha</mat-label>
      <input matInput [formControl]="form.controls.senha" type="password" placeholder="Senha" />
      <mat-error *ngIf="form.controls.senha.hasError('required')">
        Campo obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
      <mat-label>Repetir Senha</mat-label>
      <input matInput [formControl]="form.controls.repetirSenha" type="password" placeholder="Repetir Senha" />
      <mat-error *ngIf="form.controls.repetirSenha.hasError('matching')">
        Senhas não conicidem.
      </mat-error>
      <mat-error *ngIf="form.controls.repetirSenha.hasError('required')">
        Campo obrigatório.
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="cadastrar()" color="primary" [disabled]="!form.valid">Cadastrar</button>
  </mat-card-actions>
  <a mat-button [routerLink]="['/','usuario','entrar']">Já está registrado? Entre</a>
</mat-card>
