<mat-card>
  <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
        <mat-label>Nome</mat-label>
        <input matInput [formControl]="form.controls.usuario" type="text" placeholder="Nome"/>
      </mat-form-field>
      <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
        <mat-label>Senha</mat-label>
        <input matInput [formControl]="form.controls.senha" type="password" placeholder="Senha"/>
      </mat-form-field>
      <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
        <mat-label>Repetir Senha</mat-label>
        <input matInput [formControl]="form.controls.repetirSenha" type="password" placeholder="Repetir Senha"/>
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button (click)="cadastrar()" color="primary">Cadastrar</button>
  </mat-card-actions>
  <a mat-button [routerLink]="['/','usuario','entrar']" >Já está registrado? Entre</a>
</mat-card>
