<mat-card class="corpo">
  <mat-card-header>
    <mat-card-title class="centralizar">
      Cartela da Sorte
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="conteudo">
    <div class="cartela">
      <div *ngFor="let numero of reordenar((cartela|async)?.numerosCartela)" (click)="marcar(numero)" [ngClass]="{'marcado':numero.marcado}">{{numero.numero}}</div>
    </div>
  </mat-card-content>
  <mat-card-actions class="centralizar">
    <button mat-raised-button color="accent" (click)="bingo()" [style]="{fontSize:'x-large'}" >BINGO!</button>
  </mat-card-actions>
</mat-card>

