<mat-card>
  <mat-card-header>
    <mat-card-title>Entrar</mat-card-title>
  </mat-card-header>
  <mat-card-content (keyup.enter)="entrar()">
    <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
      <mat-label>Nome</mat-label>
      <input matInput [formControl]="form.controls.usuario" type="text" placeholder="Nome"/>
      <mat-error *ngIf="form.controls.usuario.hasError('required')">
        Campo obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{width: '300px'}">
      <mat-label>Senha</mat-label>
      <input matInput [formControl]="form.controls.senha" type="password" placeholder="Senha"/>
      <mat-error *ngIf="form.controls.senha.hasError('required')">
        Campo obrigatório.
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="entrar()" color="primary" [disabled]="!form.valid">Entrar</button>
  </mat-card-actions>
  <a mat-button [routerLink]="['/','usuario','registro']">Novo usuário? Cadastre-se</a>
</mat-card>
